@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url(http://fonts.googleapis.com/css?family=Lora);

* {
	box-sizing: 			border-box;
	font-family: 			'Lora', serif;
	cursor: 					default;
}

button {
	background-color: white;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
}

button:focus {
	outline: 					none;
}

button:hover {
	background-color: #E7E4D5;
}

button:active {
	border-top: 			2px solid #595151;
	border-right: 		1px solid #595151;
	border-bottom: 		1px solid #595151;
	border-left: 			2px solid #595151;	
}

#nav-bar {
	height: 					60px;
	width: 						99vw;
	border-bottom: 		2px solid #595151;
}

#nav-bar h1 {
	float: 						left;
	margin: 					15px 0 0 20px;
	color: 						#595151;
	font-family: 			'Crete Round', serif;
	font-size: 				42px;
	position: 				absolute;
}

#nav-bar h1:hover {
	color: 						#E7E4D5;
}

#user-info {
	float: right;
	margin-top: 34px;
}

#log-out {
	float: 						right;
	margin-right: 		8px;
	margin-left: 			8px;
}

#sign-up {
	width: 						50vw;
	margin: 					70px auto 0 auto;
	padding: 					20px 0;
	text-align: 			center;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
	display: 					none;
}

#sign-up input {
	font-size: 				26px;
	display: 					block;
	margin: 					5px auto;
	width: 						75%;
	text-align: 			center;
}

#sign-up-button {
	height: 					40px;
	font-size: 				26px;
	width: 						60%;
	margin: 					20px auto 0 auto;
}

#or-log-in {
	margin-top: 			10px;
}

#log-in {
	width: 						50vw;
	margin: 					70px auto 0 auto;
	padding: 					20px 0;
	text-align: 			center;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
	display: 					none;
}

#log-in input {
	font-size: 				26px;
	display: 					block;
	margin: 					5px auto;
	width: 						75%;
	text-align: 			center;
}

#log-in-button {
	height: 					40px;
	font-size: 				26px;
	width: 						60%;
	margin: 					20px auto 0 auto;
}

#or-sign-up {
	margin-top: 			10px;
}

.technology {
	font-size: 				30px;
	margin: 					2%;
	padding: 					3%;
	display: 					inline-block;
	width: 						45%;
	text-align: 			center;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
}

.technology:hover {
	background-color: #E7E4D5;
}

.technology:active {
	border-top: 			2px solid #595151;
	border-right: 		1px solid #595151;
	border-bottom: 		1px solid #595151;
	border-left: 			2px solid #595151;
}

#methods-page {
	width: 						100%;
	display: 					table;
}

#all-methods {
	height: 					90vh;
	overflow: 				scroll;
	width: 						20vw;
	min-width: 				240px;
	border-right: 		1px solid #595151;
	background-color: white;
	display: 					none;
	z-index: 					99;
}

#completion {
	padding: 					10px 0;
	border-bottom: 		1px solid #595151;
	margin-bottom: 		5px;
}

#compare {
	float: 						right;
	margin-right: 		8px;
}

#compare:hover {
	background-color: #E7E4D5;
}

#method-container {
	display: 					table-cell;
	height: 					90vh;
	width: 						77vw;
	vertical-align: 	top;
	text-align: 			center;
}

#method-container {
	z-index: 1;
}

#method {
	display: none;
	width: 75%;
	margin: 0 auto;
	z-index: 1;
}

.known {
	color: green;
}

.halfknown {
	color: brown;
}

.unknown {
	color: red;
}

#method-name {
	font-size: 60px;
	margin: 20px 0;
}

#left {
	float: left;
	font-size: 40px;
}

#right {
	float: right;
	font-size: 40px;
}

.dot {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	border: 2px solid #595151;
	display: inline-block;
}

.selected {
	background-color: green;
}

#shader {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
}

iframe {
	position: fixed;
	left: 10vw;
	top: 10vh;
	width: 80vw;
	height: 80vh;
}

.partner {
	width: 45%;
	border: 1px solid #595151;
	margin: 2%;
	padding: 3%;
	text-align: center;
	display: inline-block;
}

.partner .name {
	font-size: 40px;
}

.partner .email {
	font-size: 20px;
}

.partner .skill {
	font-size: 30px;
}