@import url(http://fonts.googleapis.com/css?family=Crete+Round);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Signika:700);

* {
	box-sizing: 			border-box;
	font-family: 			'Lora', serif;
	cursor: 					default;
}

body {
	margin-bottom: 		0;
}

input:focus {
	outline-color: 		#ABCCBD;
}

button {
	background-color: white;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
}
button:focus {
	outline: 					none;
}
button:hover {
	background-color: #ABCCBD;
}
button:active {
	border-top: 			2px solid #595151;
	border-right: 		1px solid #595151;
	border-bottom: 		1px solid #595151;
	border-left: 			2px solid #595151;	
}

#nav-bar {
	height: 					60px;
	width: 						99vw;
	border-bottom: 		2px solid #595151;
}

#nav-bar h1 {
	float: 						left;
	margin: 					15px 0 0 20px;
	color: 						#595151;
	font-family: 			'Crete Round', serif;
	font-size: 				42px;
	position: 				absolute;
	cursor: 					pointer;
}

#nav-bar h1:hover {
	color: 						#379F7A;
}

#user-info {
	float: 						right;
	margin: 					37px 40px 0 0;
	position: 				absolute;
	right: 						0;
}

#welcome {
	float: 						none;
	vertical-align: 	bottom;
	font-family: 			'Crete Round', serif;
	font-size: 				20px;
	display: 					inline-block;
}

#log-out {
	float: 						none;
	margin-bottom: 		1px;
	cursor: 					pointer;
	font-family: 			'Crete Round', serif;
	display: 					inline-block;
}

#log-out:hover {
	color: 						#379F7A;
}

#sign-up {
	width: 						50vw;
	margin: 					70px auto 0 auto;
	padding: 					20px 0;
	text-align: 			center;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
}

#sign-up input {
	font-size: 				26px;
	display: 					block;
	margin: 					5px auto;
	width: 						75%;
	text-align: 			center;
}

#sign-up-button {
	height: 					40px;
	font-size: 				26px;
	width: 						60%;
	margin: 					20px auto 0 auto;
}

#or-log-in {
	margin-top: 			10px;
	cursor: 					pointer;
}
#or-log-in:hover {
	color: 						#379F7A;
}

#log-in {
	width: 						50vw;
	margin: 					70px auto 0 auto;
	padding: 					20px 0;
	text-align: 			center;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
}

#log-in input {
	font-size: 				26px;
	display: 					block;
	margin: 					5px auto;
	width: 						75%;
	text-align: 			center;
}

#log-in-button {
	height: 					40px;
	font-size: 				26px;
	width: 						60%;
	margin: 					20px auto 0 auto;
}

#or-sign-up {
	margin-top: 			10px;
	cursor: 					pointer;
}
#or-sign-up:hover {
	color: 						#379F7A;
}

.technology {
	font-size: 				30px;
	margin: 					2%;
	padding: 					3%;
	display: 					inline-block;
	width: 						45%;
	text-align: 			center;
	border-top: 			1px solid #595151;
	border-right: 		2px solid #595151;
	border-bottom: 		2px solid #595151;
	border-left: 			1px solid #595151;
	cursor: 					pointer;
}

.technology:hover {
	background-color: #ABCCBD;
}

.technology:active {
	border-top: 			2px solid #595151;
	border-right: 		1px solid #595151;
	border-bottom: 		1px solid #595151;
	border-left: 			2px solid #595151;
}

#methods-page {
	width: 						100%;
	display: 					table;
}

#all-methods {
	height: 					86vh;
	overflow: 				scroll;
	width: 						20vw;
	min-width: 				240px;
	border-right: 		1px solid #595151;
	background-color: white;
	position: 				relative;
}

.method {
	color: 						#595151;
}

.method .name {
	cursor: 					pointer;
	display: 					inline;
}

.known {
	color: 						#379F7A;
}
.halfknown {
	color: 						#BBB749;
}
.unknown {
	color: 						#A82743;
}

#completion {
	padding: 					10px 0;
	border-right: 		1px solid #595151;
	border-bottom: 		1px solid #595151;
	width: 						20vw;
	min-width: 				240px;
}

#compare {
	float: 						right;
	margin-right: 		8px;
}

#compare:hover {
	background-color: #E7E4D5;
}

#method-container {
	display: 					table-cell;
	height: 					86vh;
	width: 						77vw;
	vertical-align: 	top;
	text-align: 			center;
}

#method {
	width: 						75%;
	margin: 					0 auto;
}

#method-name {
	font-size: 				60px;
	margin: 					20px 0;
	min-height: 			150px;
	cursor: 					pointer;
}

#method-name:hover {
	color: 						#379F7A
}

#left {
	float: 						left;
	font-size: 				40px;
}

#right {
	float: 						right;
	font-size: 				40px;
}

.dot {
	height: 					100px;
	width: 						100px;
	border-radius: 		50px;
	border: 					2px solid #595151;
	display: 					inline-block;
	font-size: 				80px;
	font-family: 			'Signika';
	cursor: 					pointer;
}

.dot:nth-child(1):hover {
	background-color: #A82743;
}
.dot:nth-child(2):hover {
	background-color: #BBB749;
}
.dot:nth-child(3):hover {
	background-color: #379F7A;
}
.dot:active {
	color: white;
}

#left {
	cursor: 					pointer;
}
#left:hover {
	color: 						#379F7A;
}
#right {
	cursor: 					pointer;
}
#right:hover {
	color: 						#379F7A;	
}

#shader {
	position: 				fixed;
	height: 					100vh;
	width: 						100vw;
	top: 							0;
	left: 						0;
	background-color: rgba(0,0,0,0.5);
}

iframe {
	position: 				fixed;
	left: 						10vw;
	top: 							10vh;
	width: 						80vw;
	height: 					80vh;
}

#partner-list {
	overflow: 				scroll;
}

.partner {
	width: 						45%;
	border: 					1px solid #595151;
	margin: 					2%;
	padding: 					3%;
	text-align: 			center;
	display: 					inline-block;
}

.partner .name {
	font-size: 				40px;
}

.partner .email {
	font-size: 				20px;
}

.partner .skill {
	font-size: 				30px;
}

@media screen and (max-device-width: 414px) {
	.technology {
		width: 90%;
		margin: 4%;
		padding: 6%;
	}

	#methods-list {
		width: 55%;
		margin: 0 auto;
		margin-top: 20px;
		border: 1px solid #595151;
	}
	#completion {
		width: 100%;
		border: none;
		border-bottom: 1px solid #595151;
	}
	#all-methods {
		width: 100%;
		height: 30vh;
		border: none;
	}

	.method {
		width: 100%;
	}

	#method-container {
		display: block;
		width: 100%;
	}
	#method-name {
		min-height: 0;
	}

	.partner {
		width: 90%;
		margin: 4%;
		padding: 6%;
	}
}